footer {
    height: 92px;
    background-color: #222F33;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
}

footer > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    display: flex;
    justify-content: space-between;
}

.options > p {
    opacity: 0.6;
}

#cookies {
    margin-right: 30px;
}

#privacy {
    margin-right: 50px;
}

.email {
    margin-left: 50px;
    opacity: 0.6;
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
    footer > .container{
        width: 100%;
        max-width: 2560px;
        justify-content: space-evenly;
    }
    footer {
        font-size: 18px;
        
    }
}

@media screen and (max-width: 360px) {
    footer > .container > .logo > img {
        height: 10px;
    }

    footer {
        height: 72px;
        background-color: #222F33;
        color: white;
        font-size: 8px;
        display: flex;
        align-items: center;
    }
    .options {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}