header {
    height: 600px;
    border: 1px solid #c3c3c3;
    background-image: url('images/header_img.png');
    background-repeat: no-repeat;
    background-size:cover; 
    color: white;  
}

.burger {
    display: none;
}

#hamburger_menu {
    width: 32px;
    height: 25px;
    border-radius: 2px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(
      to bottom, 
      white,white 16%, 
      transparent 16%, transparent 42%, 
      white 42%, white 58%, 
      transparent 58%, transparent 84%, 
      white 84%, white 100%
    );
}

header > .container {
    margin: 0;
}

.actual_header {
    display: flex;
    margin-top: 37px;
    align-items: center;
    justify-content: space-around;
}

.nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav_item {
    font-size: 12px;
    text-align: center;
    margin-right: 40px;
    list-style: none;
}

.nav_item > a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

.contact {
    display: flex;
    border: none;
    background-color: white;
    border-radius: 3px;
    font-size:12px;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 90px;
    cursor: pointer;
}


.logo {
    display: flex;
    align-items: center;
}

.header_article {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 120px;
}

.watch_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#image_2 {
    height: 355px;
    width: auto;
}

.article > h2 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
    header {
        width: auto;
        border: 1px solid #c3c3c3;
        background-image: url('images/header_img.png');
        background-repeat: no-repeat;
        background-position: center center;
    }
    .nav_item > a {
        font-weight: 500;
        font-size: 32px;
        line-height: 24px;
    }

    .article > h2 {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
    }

    .about_article > p {
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
    }

    .header_article {
        justify-content: space-evenly;
    }
    .actual_header {
        justify-content: space-evenly;
    }

    .watch_button > img {
        height: 128px;
    }

    .watch_button > p {
        font-weight: 400;
        font-size: 26px;
    }
}

@media screen and (max-width: 360px) {
    .menu {
        position: absolute;    
        display: none;
        background-color: #222F33;
        left: 0;
        height: 320px;
        width: 200px;
        border-radius: 2px;
        z-index: 1;
    }

    .nav_menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
    }


    .nav_item > a {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }

    .nav_item {
        text-align: center;
        margin-bottom: 10px;
        list-style: none;
    }
    .header_article {
        display: flex;
        align-items: center;
        flex-direction: column
    }

    .header_article > .article > h2 {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 38px;
    }
    header {
        height: 600px;
        max-width: 320px;
        border: 1px solid #c3c3c3;
        background-image: url('images/header_img.png');
        background-repeat: no-repeat;
        background-position: center center;
    }

    #hamburger_menu {
        display: inline;
    }
}
