.innovative_block {
    height: 313px;
    background-color: #222F33;
    color: white;
}
.innovative_block > .container > .bar_content{
    display: flex;
    justify-content: center;
}
.innovative_block {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

.innovative_block > .container > .bar_content > .left_bar{
    margin-right: 40px;
}

.left_bar > p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.7;
}

.left_bar > h2 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
}

.right_bar > p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.7;
}

.right_bar > h2 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    opacity: 0;
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
    .innovative_block {
        height: 340px;
    }
    .innovative_block > .container > .bar_content{
        justify-content: space-around;
    }
    .right_bar > p > br {
        display: none;
    }
    .left_bar > p > br {
        display: none;
    }

    .right_bar > p {
        width: 700px;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
    }

    .left_bar > p {
        width: 700px;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
    }

    .left_bar > h2 {
        font-size: 40px;
        line-height: 44px;
    }

    .right_bar > h2 {
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (max-width: 360px) {
    .innovative_block {
        max-width: 320px;
        height: 700px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .innovative_block > .container > .bar_content > .left_bar{
        margin-right:0;
    }
    .right_bar > p > br {
        display: none;
    }
    .left_bar > p > br {
        display: none;
    }
}